.cont-top{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.cont-top .cont-usuario-info-card{
    text-align: center;
    flex-grow: 1;
}

.cont-top .cont-usuario-info-card h4{
    font-weight: bold;
    margin-top: 20px;
}
.cont-botom{
    display: flex;
    flex-direction: row;
}
.seg-social{
    flex-grow: 1;
}
.info-laboral{
    flex-grow: 1;
}


.seg-social .cont-titulo, .info-laboral .cont-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 40px;
}


.cont-e {
    display: flex;
    flex-direction: row;
}

.cont-e .cont-e-a {
    width: 60%;
}

.cont-e .cont-e-b {
    width: 40%;
}

.cont-e-a-b {
    display: flex;
    justify-content: space-between;
}

.cont-e-a-a {
    display: flex;
    direction: row;
}

.cont-e-b .cont-alerta {
    margin: 0px 30px;
    padding: 0px 20px;
}
.cont-salario{
    font-size: 22px;
    padding:0px 20px;
    font-weight: bold;
}

// .btn-linea-verde, .btn-verde{
//     padding: 10px 15px;
//     margin-right: 10px;
// }
.cont-tit-ibeneficiario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-salario{
    padding: 10px 15px;
    border: solid 2px #04204A;
    border-radius: 15px;
    color: #04204A;
    font-size: 18px;
}

@media (max-width: 991.98px) {
   
    .cont-top{
        display: flex;
        flex-direction: column;
    }
   
    .cont-botom{
        flex-direction: column;
    }

    .cont-top .cont-usuario-info-card{
        flex-direction: column;
        justify-content: center;
    }
 }
   .arrastrar-documentos {
       text-align: center;
       font-size: x-large;
       color: #6b6b6b;
       padding: 65px;
   }

   .btn-edit-eye {
       color: #052A61;
   }

   .btn-verde {
       padding: 10px 15px;
   }

//    .btn-linea-verde {
//        padding: 10px 15px;
//        margin-right: 10px;
//    }

   @media (max-width: 992px) {

       h1 {
           text-align: center;
           margin: 15px 0px;
       }

       .card-title-row {
           flex-direction: column;
       }

       .cont-btns-title {
           justify-content: center;
           display: flex;
           flex-direction: row;
       }

   }

   .cont-header-solicitud {
       display: flex;
       flex-direction: row;
       align-items: center;
       margin-bottom: 40px;
   }

   .cont-header-solicitud .cont-titulo {
       flex-grow: 1;
       margin: 20px 0px;
   }

   .cont-estado {
       display: flex;
       flex-direction: column;
   }

   .select-estado {
       background-color: #54b34b;
       color: #fff;
       padding: 10px 20px;
       border-radius: 15px;
       cursor: pointer;
       margin-left: 15px;
   }

   .cont-estado .n_solicitud {
       color: #919191;
       font-size: 20px;
       margin-bottom: 10px;
   }

   .cont-estado .n_solicitud span {
       color: #FF0000;
       font-size: 25px;
   }

   .select-estado option {
       background-color: transparent;
   }

   .label-porcentage {
       background-color: rgba(33, 33, 33, .1);
       padding: 10px 20px;
       border-radius: 5px;
       color: #fff;
       font-size: 17px;
   }

   .cont-btns {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       overflow: hidden;
       margin-top: 50px;
   }

   .cont-btns button {
       background-color: #052A61;
       color: #fff;
       padding: 0px 20px;
       margin-left: 20px;
   }

   .card-h {
       padding-top: 25px;
       padding-bottom: 25px;
       padding-right: 10px;
       padding-left: 10px;
       margin: 0px;
   }

   .cont-superior {
       padding-top: 20px;
       padding-bottom: 20px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   h4 {
       line-height: 20px;
   }

   .cont-alerta h3 {
       font-size: 32px;
   }

   .cont-alerta p {
       margin: 35px 0px;
   }

   /*------------------------nuevo-----------------------------*/
   mat-form-field {
       margin: 0px 5px;
   }

   .cont-a {
       display: flex;
       flex-direction: column;
   }

   .cont-a-a,
   .cont-a-b,
   .cont-a-c {
       display: flex;
       flex-direction: row;
   }

   .cont-b {
       display: flex;
   }

   .cont-b .cont-b-a {
       width: 60%;
   }

   .cont-b .cont-b-b {
       width: 40%;
   }

   
   .cont-emp-top {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }


   @media (max-width: 991.98px) {

       .cont-a-a,
       .cont-a-b,
       .cont-a-c {
           display: flex;
           flex-direction: column;
       }

       .cont-b {
           display: flex;
           flex-direction: column;
       }

       .cont-b .cont-b-a,
       .cont-b .cont-b-b {
           width: 100%;
           margin-bottom: 40px;
       }
   }


   /*------------------------nuevo-----------------------------*/


   @media (max-width: 991.98px) {
       .cont-header-solicitud {
           flex-direction: column;
       }

       .cont-estado {
           align-items: flex-end;
       }

   }

   @media (max-width: 991.98px) {
       .border-new {
           border-top: solid;
           border-width: 1px;
           border-radius: 0px;
           border-top-color: #ededed;
           // height: 110px;
       }
   }

   @media (min-width: 992.98px) {

       .border-new {
           border-top: solid;
           border-width: 1px;
           border-radius: 0px;
           border-top-color: #ededed;
           height: 110px;
       }
   }

   .margin-content {
       margin-left: 33px;
       margin-right: 33px;
   }

   .arrastrar-documentos {
       text-align: center;
       font-size: x-large;
       color: #6b6b6b;
       padding: 65px;
   }

   .botonStatus {
       border-radius: 17px;
       text-align: center;
       width: 200px;
       margin: 24px 20px 28px;
       flex-direction: column;
       box-sizing: border-box;
       display: flex;
       place-content: flex-start center;

   }
   h2 {
    margin-bottom: 20px;
}

h3 {
    margin-left: 5px;
    margin-bottom: 10px;
}

.cont-a {
    display: flex;
    flex-direction: row;
}

.cont-a .item {
    flex-grow: 1;
    margin: 0px 5px;
}

.cont-a .item {
    flex-grow: 1;
    margin: 0px 5px;
}

.btn-cerrar {
    background-color: #6E7277;
    color: #fff;
}

.btn-guardar {
    background-color: #04204A;
    color: #fff;
}

table {
    width: 100%;
    box-shadow: none;
}

.btn-eye {
    color: #7fcbc4;
}

.btn-subir {
    background-color: #0699e1;
    color: #fff;
}

.btn-delete {
    color: #ef5350;
}

@media (max-width: 991.98px) {
    .cont-a {
        flex-direction: column;
    }

    .cont-a .item {
        margin: 0px;
    }
}
  .arrastrar-documentos {
      text-align: center;
      font-size: x-large;
      color: #6b6b6b;
      padding: 65px;
  }

