
    <div class="flex-auto h-full  dark:bg-transparent">
      
      <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
          <div class="flex-1 min-w-0">
              <!-- Breadcrumbs -->
              <div class="flex flex-wrap items-center font-medium">
                  <div>
                      <a class="whitespace-nowrap text-primary-500">Inicio</a>
                  </div>
              </div>
              <!-- Title -->
              <div class="mt-2">
                  <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                     Lista de pagos
                  </h2>
              </div>
          </div>
          <!-- Actions -->
          <div  class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
 
                <button class="border-button" mat-flat-button color="primary" color="primary"
                    (click)="openIncomeModal()">
                    <mat-icon>add_circle</mat-icon>
                    Nuevo Ingreso
                </button>
                <button class="border-button" mat-flat-button color="primary" color="primary"
                    (click)="openFacturarModal()" style="margin-left: 10px;">
                    <mat-icon>payments</mat-icon>
                    Facturar Servicio
                </button>
          </div>
      </div>
       <section class="cont-pages">
       <div  class=" bg-card shadow rounded-2xl m-10">
             <div class=" p-10">
                 
             <form fxLayout="column" fxFlex.gt-xs class="form-container" [formGroup]="filters">
               <div fxLayout="row" fxFlex.gt-xs fxLayout.xs="column" fxLayoutAlign="start center" 
                 fxLayoutAlign.sm="start start" fxItemAlign="center" fxItemAlign.xs="start" fxLayoutGap="24px" fxLayoutGap.xs="12px">
                 <!-- <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%; padding-top: 12px;">
                 
                   <input matInput (keyup)="searchKeyUp($event)" (keyup.shift.n)="openIncomeModal()" #search
                     placeholder="Ingrese nombre de la empresa o el nit" formControlName="search" />
                 </mat-form-field> -->
                         
                 <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%; padding-top: 12px;">
                   <!-- <mat-label>Fecha Inicial</mat-label> -->
                   <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Rango de fecha"
                     autocomplete="off" (dateChange)="dateChange($event)" />
                   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                   <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field>
                 <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%; padding-top: 12px;">
                   <!-- <mat-label>Fecha Final</mat-label> -->
                   <input matInput [matDatepicker]="picker2" formControlName="date2" placeholder="Rango de fecha"
                     autocomplete="off" (dateChange)="dateChange($event)" />
                   <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                   <mat-datepicker #picker2></mat-datepicker>
                 </mat-form-field>
         
                   <div fxLayout="row">
                     <ul class="nav liStyle"  style=" width: 150px; margin-left: 5px; height: 50px; border: solid;  border-width: 2px;">
                       <li style="padding-top: 8px;"  fxLayoutAlign="start">
                         <a class="alink">Estado
                           <!-- <ic-icon class="iconoStyle" [icon]="twotoneArrowDropDown" inline="true" size="35px">
                           </ic-icon> -->
                           <mat-icon style="height: 0px;" svgIcon="arrow_drop_down" class="iconoStyle" inline="true" size="35px"></mat-icon>
                         </a>
                         <ul style="border-radius: 5px; " class="border border-secondary">
                           <li (click)="filterAfiliacion('0')">
                             <a>
                               <button style="text-align:initial">
                                 ESTADO</button>
                             </a>
                           </li>
                           <li>
                             <a (click)="filterAfiliacion('1')">
                               <button style="text-align:initial">
                                 Pagado
                               </button>
                             </a>
                           </li>
                           <li>
                             <a (click)="filterAfiliacion('2')">
                               <button style="text-align:initial">Pendiente</button>
                             </a>
                           </li>
         
                         </ul>
                       </li>
                     </ul>
                
                     <ul class="nav liStyle"  style=" width: 150px; margin-left: 5px; height: 50px; border: solid;  border-width: 2px;">
                       <li style="padding-top: 8px;"  fxLayoutAlign="start">
                         <a class="alink">Concepto
                           <!-- <ic-icon class="iconoStyle" [icon]="twotoneArrowDropDown" inline="true" size="35px">
                           </ic-icon> -->
                           <mat-icon style="height: 0px;" svgIcon="arrow_drop_down" class="iconoStyle" inline="true" size="35px"></mat-icon>
                         </a>
                         <ul style="border-radius: 5px; " class="border border-secondary">
                           <li> <a (click)="filterAfiliacion2('0')"><button style="text-align:initial">Todos</button></a></li>
                           <li><a (click)="filterAfiliacion2('Afiliaciones')"><button
                                 style="text-align:initial">Afiliaciones</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Planillas')"><button
                                 style="text-align:initial">Planillas</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Asesorias')"><button
                                 style="text-align:initial">Asesorias</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Comisiones')"><button
                                 style="text-align:initial">Comisiones</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Honorarios')"><button
                                 style="text-align:initial">Honorarios</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Servicio Permanente')"><button style="text-align:initial">Servicio
                                 Permanente</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Incapacidades')"><button
                                 style="text-align:initial">Incapacidades</button></a> </li>
                           <li><a (click)="filterAfiliacion2('Otro')"><button style="text-align:initial">Otro</button></a> </li>
                         </ul>
                       </li>
                     </ul>
                  
                     <ul class="nav liStyle"  style=" width: 150px; margin-left: 5px; height: 50px; border: solid;  border-width: 2px;">
                       <li style="padding-top: 8px;"  fxLayoutAlign="start">
                         <a class="alink">Sucursal
                           <!-- <ic-icon class="iconoStyle" [icon]="twotoneArrowDropDown" inline="true" size="35px">
                           </ic-icon> -->
                           <mat-icon style="height: 0px;" svgIcon="arrow_drop_down" class="iconoStyle" inline="true" size="35px"></mat-icon>
                         </a>
                         <ul style="border-radius: 5px; " class="border border-secondary">
                           <li> <a (click)="filterAfiliacion3('0')"><button style="text-align:initial">Todos</button></a></li>
                           <li><a (click)="filterAfiliacion3('19')"><button
                                 style="text-align:initial">Principal</button></a> </li>
                           <li><a (click)="filterAfiliacion3('20')"><button
                                 style="text-align:initial">Ocaña</button></a> </li>
                           <li><a (click)="filterAfiliacion3('21')"><button
                                 style="text-align:initial">Juridico</button></a> </li>
                           <li><a (click)="filterAfiliacion3('22')"><button
                                 style="text-align:initial">SGSST</button></a> </li>
                         
                         </ul>
                       </li>
                     </ul>
                   </div>
               </div>
             </form>
             </div>
           
             <div class="home-card overflow-auto">
               <!-- table -->
               <table [dataSource]="afiliacionFilter" 
                 mat-table matSort>
                 <!-- Type Column -->
                 <ng-container matColumnDef="id">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Recibo N°</th>
                   <td mat-cell *matCellDef="let row" class=" text-secondary">
                     {{row.id}}
                   </td>
                 </ng-container>
                 
                 <ng-container matColumnDef="company">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Cliente</th>
                   <td mat-cell *matCellDef="let row"  class=" text-secondary">
                     <div fxLayout="row" fxLayoutAlign="center">
                       {{row?.empresaCuenta?.razon_social == null ? row?.tercero?.nombre : row?.empresaCuenta?.razon_social}}
                         {{row?.persona?.primer_nombre == null ? row?.tercero?.nombre : row?.persona?.primer_nombre}}
                       </div>
                   </td>
                 </ng-container>
                 <!-- Type Column -->
                 <ng-container matColumnDef="nit">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Nit/Cc</th>
                   <td mat-cell *matCellDef="let row"  class=" text-secondary">
                     {{row?.persona?.numDocumento == null ? row?.tercero?.documento : row?.persona?.numDocumento}}
                       {{row?.empresaCuenta?.numDocumento}} - {{row?.empresaCuenta?.dv}}
                   </td>
                 </ng-container>
         
                 <ng-container matColumnDef="tipo">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Tipo</th>
                   <td mat-cell *matCellDef="let row" class=" text-secondary">
                     {{row.tipo == 1 ? 'normal' : 'recurrente'}}
                   </td>
                 </ng-container>
                 <!-- Code Column -->
                 <ng-container matColumnDef="date">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Sucursal</th>
                   <td mat-cell *matCellDef="let row" >
                     <div fxLayout="column" fxLayoutAlign="center ">
                       <span class="date text-secondary">{{ row.sucursal?.nombre }}</span>
                     </div>
                   </td>
                 </ng-container>
         
                   <ng-container matColumnDef="fecha_pago">
                     <th mat-header-cell *matHeaderCellDef class="text-light">Fecha de pagado</th>
                     <td mat-cell *matCellDef="let row">
                       <div fxLayout="column" fxLayoutAlign="center ">
                         <span class="date text-secondary">{{ changeDateTimeFormat(row.fecha) }}</span>
                       </div>
                     </td>
                   </ng-container>
               <ng-container matColumnDef="fecha">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Inicio Pago</th>
                   <td mat-cell *matCellDef="let row" >
                     <div fxLayout="column" fxLayoutAlign="center ">
                       <span class="date text-secondary">{{ changeDateTimeFormat(row.created_at) }}</span>
                     </div>
                   </td>
                 </ng-container>
         
                 <ng-container matColumnDef="date2">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Proximo Pago</th>
                   <td mat-cell *matCellDef="let row" >
                     <div fxLayout="column" fxLayoutAlign="center ">
                       <span class="date text-secondary">{{ changeDateTimeFormat(row.updated_at) }}</span>
                     </div>
                   </td>
                 </ng-container>
         
                 <!-- Type Column -->
                 <ng-container matColumnDef="concept">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Concepto</th>
                   <td mat-cell *matCellDef="let row"  >
                       {{row.nombre}}
                   </td>
                 </ng-container>
         
               <!-- Type Column -->
               <ng-container matColumnDef="status">
                 <th mat-header-cell *matHeaderCellDef class="text-light">Estado</th>
                 <td mat-cell *matCellDef="let row"  >
                     <button >
                       <span [ngStyle]="{'background-color': row.status === 1 ? 'green' : row.status === 2 ?
                                                 'orange' : row.status === 3 ? 'blue' : row.status === 4 ? 'green' : row.status ===
                                                 5? 'red' :''}" 
                                                 style="width: 150px; font-weight: bold; padding: 5px;
                                                 border-radius: 300px; color:white">
                         {{ row.status == 1 ? "Pagado": row.status == 2 ? "Pendiente": row.status == 3 ? "EN TRAMITE": row.status == 4 ? "ACTIVO": row.status == 5 ? "RECHAZADO":"" }}
         
                       </span>
                     </button>
         
                 </td>
               </ng-container>
         
                 <!-- Distribuitor Column -->      
                 <ng-container matColumnDef="value">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Valor</th>
                   <td mat-cell *matCellDef="let row"  class=" text-blue-600">
                     <p *ngIf="row.cuatroxmil != 0">
                       {{row.valor * 0.004  + row.valor + row.valor * row.iva / 100  | currency:'USD': 'symbol': '1.0'}}
                     </p>
                     <p *ngIf="row.cuatroxmil == 0">
                       {{ row.valor + row.valor * row.iva / 100  | currency:'USD': 'symbol': '1.0'}}
                     </p>
                   </td>
                 </ng-container>
         
                 <!-- Symbol Column -->
                 <ng-container matColumnDef="options">
                   <th mat-header-cell *matHeaderCellDef class="text-light">Opciones</th>
                   <td mat-cell *matCellDef="let element" class="center ">  
                     <div fxLayout="row" fxLayoutAlign="center">
                     
                       <!-- <button (click)="openModal(element)" mat-menu-item>
                       <mat-icon  style="color:rgb(4, 4, 73)">paid</mat-icon>
                     </button> -->
                     <button *ngIf="element.status == 1"
                       style="border-radius: 300px; margin-right: 10px; background-color: rgb(184, 184, 184);color: #e6e6e6;" mat-flat-button
                       color="primary" > Pagar</button>
                       <button *ngIf="element.status == 2" style="border-radius: 300px; margin-right: 10px;" mat-flat-button
                         color="primary" (click)="openModal(element)"> Pagar</button>
                       <button (click)="openPresupuesto(element)" mat-icon-button>
                         <mat-icon style="color:rgb(4, 4, 73)">remove_red_eye</mat-icon>
                       </button> 
                       <button *ngIf="eliminar()== 1" class="border-button" mat-icon-button type="button"
                         (click)="delete(element)">
                         <mat-icon class="icon-rojo">delete</mat-icon>
                       </button>
                       
                     </div>
                   </td>
                 </ng-container>
         
                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
               </table>
         
               <div [hidden]="data.length > 0" class="pt-9 pb-9">
                 <div class="alternate-result">
                   <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                     <div [hidden]="!loadingRecords">
                       <div fxLayout="column" fxLayoutAlign="center center">
                         <mat-spinner diameter="32"></mat-spinner>
                         <span>CARGANDO</span>
                       </div>
                     </div>
                     <div [hidden]="loadingRecords || data.length > 0">
                       <div fxLayout="column" fxLayoutAlign="center center">
                         <span class="text-secondary headline-1">NO HAY RESULTADOS</span>
                         <span class="text-secondary headline-1">CREA UN NUEVO INGRESO</span>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
         
               <mat-paginator [length]="resultsLength" (page)="pageChange($event)" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize" class="sticky left-0">
               </mat-paginator>
             </div>
   
         </div>
       </section>
    </div>
