<div class="flex-auto h-full  dark:bg-transparent">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Inicio</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Servicio Afiliaciones
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <!-- <div (click)="openEmpresaModal()" class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <a mat-flat-button href="https://material.angular.io/components/categories" target="_blank" rel="noreferrer"
                [color]="'primary'">
                     <mat-icon style="margin: 5px;">
                         add_circle
                     </mat-icon>
                     Nuevo Servicio
            </a>
        </div> -->
    </div>

    <section class="cont-pages">
        <div class=" bg-card shadow rounded-2xl m-10">
         <div class=" p-10">
            <form fxLayout="row" fxFlex.gt-xs fxLayout.xs="column" fxLayoutAlign="start center"
                fxLayoutAlign.sm="start start" fxItemAlign="center" fxItemAlign.xs="start" fxLayoutGap="24px"
                fxLayoutGap.xs="12px" [formGroup]="filters">
               <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%">
                    <!-- <mat-label>Empresa</mat-label> -->
                    <input matInput (keyup)="searchKeyUp($event)" #search placeholder="Empresa Nombre o documento"
                        formControlName="search" />
                </mat-form-field>
                <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%">
                    <!-- <mat-label>Fecha Inicial</mat-label> -->
                    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Fecha Inicial"
                        autocomplete="off" (dateChange)="dateChange($event)" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
               <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%">
                    <!-- <mat-label>Fecha Final</mat-label> -->
                    <input matInput [matDatepicker]="picker2" formControlName="date2" placeholder="Fecha Final"
                        autocomplete="off" (dateChange)="dateChange($event)" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="flex-auto" style="flex-grow: 2; width:100%">
                    <!-- <mat-label>Selecciona el estado</mat-label> -->
                    <mat-select formControlName="seleccion" placeholder="Selecciona el estado" #singleSelect>
                        <mat-option value="1">Pendiente</mat-option>
                        <mat-option value="2">Finalizado </mat-option>
                        <mat-option value="3">Cancelado</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button color="primary" mat-flat-button (click)=loadEmpresaPaginator()>
                        Consultar
                    </button>
                </div>
            </form>
        </div>
        <div class="cont-table">
            <table mat-table [dataSource]="dataEmpresa">
                <ng-container matColumnDef="nombre">
                    <th class="txt-left" mat-header-cell *matHeaderCellDef> Nombre Empresa </th>
                    <td class="txt-left" mat-cell *matCellDef="let element"> {{
                                                                                element.empresaServicio?.razon_social ==
                                                                                null? element?.persona?.primer_nombre :
                                                                                element.empresaServicio?.razon_social
                                                                            }}
                        {{ element?.persona?.primer_apellido}}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="nit">
                    <th mat-header-cell *matHeaderCellDef> Nit </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.empresaServicio?.numDocumento}}{{element.empresaServicio?.dv != null ? '-' : ''}}{{element.empresaServicio?.dv}}
                        {{element?.persona?.numDocumento}}
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="n_emp">
                    <th mat-header-cell *matHeaderCellDef> Paquete </th>
                    <td mat-cell *matCellDef="let element">
                        <!-- {{element.empleados.length -1}}  -->
                        {{element.nombre}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Registro </th>
                    <td mat-cell *matCellDef="let element"> {{ element.date  | date:"yyyy-MM-dd"}} </td>
                </ng-container>
    
                <!-- <ng-container matColumnDef="representante">
                    <th mat-header-cell *matHeaderCellDef> REPRESENTANTE LEGAL </th>
                    <td mat-cell *matCellDef="let element"> {{ element.representanteLegal}} </td>
                </ng-container>
                
                <ng-container matColumnDef="ult_pago">
                    <th  mat-header-cell *matHeaderCellDef> TELEFONO/CONTACTO </th>
                    <td mat-cell *matCellDef="let element"> {{element?.telContacto}} </td>
                </ng-container> -->
    
                <!-- <ng-container matColumnDef="valor">
                    <th  mat-header-cell *matHeaderCellDef> VALOR </th>
                    <td mat-cell *matCellDef="let element"> {{element?.valor | currency}} </td>
                </ng-container> -->
    
                <ng-container matColumnDef="estado2">
                    <th mat-header-cell *matHeaderCellDef> Estado Pago</th>
                    <td mat-cell *matCellDef="let element">
                          <span class="flex items-center">
                            <!-- <button (click)="openObsEmpleadoModal(element)" mat-icon-button type="button" class="icon-gris">
                                <mat-icon [icIcon]="chat"></mat-icon>
                            </button> -->
    
                             <span class="w-2 h-2 rounded-full" [ngClass]="{
                                        'bg-blue-500': element.status_pago === 3,
                                        'bg-red-500': element.status_pago === 2,
                                        'bg-green-500': element.status_pago === 1,
                                        'bg-amber-500': element.status_pago === 5,
                                        'bg-indigo-500': element.status_pago === 4}"></span>
                                {{element.status_pago == 2? 'Pendiente' : element.status_pago == 1? 'Pagado' : 'Cancelado'}}
                            
                          </span>
                    </td>
                </ng-container>
    
                  <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef> Estado Servicio </th>
                      <td mat-cell *matCellDef="let element">
                          <div fxLayout="row" fxLayoutAlign="space-around">
                              <button (click)="openObsEmpleadoModal(element)" mat-icon-button type="button"
                                    class="icon-gris">
                                    <mat-icon svgIcon="heroicons_outline:annotation"></mat-icon>
                              </button>
                                <span class="flex items-center">

                                    <span class="w-2 h-2 rounded-full" [ngClass]="{
                                       'bg-blue-500': element.status === 3,
                                       'bg-red-500': element.status === 1,
                                       'bg-green-500': element.status === 2,
                                       'bg-amber-500': element.status === 5,
                                       'bg-indigo-500': element.status === 4}"></span>
                                        {{element.status == 2? 'Finalizado' :
                                                   element.status == 1? 'Pendiente' :
                                                    element.status == 4? 'En tramite' :
                                                   'Cancelado'}}
                                
                                </span>
                          
                          </div>
                      </td>
                  </ng-container>
                <!-- 
                <ng-container matColumnDef="acciones">
                    <th  mat-header-cell *matHeaderCellDef> ACCIONES </th>
                    <td mat-cell *matCellDef="let element">
    
                        <button (click)="selectDetails(element.afiliacion_id)" mat-icon-button type="button" class="color-azul">
                            <mat-icon [icIcon]="baselineOpenInNew"></mat-icon>
                        </button>
    
                    </td>
                </ng-container> -->
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div [hidden]="data.length > 0" class="pt-9 pb-9">
                <div class="alternate-result">
                    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                        <div [hidden]="!loadingRecords">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <mat-spinner diameter="32"></mat-spinner>
                                <span>CARGANDO</span>
                            </div>
                        </div>
                        <div [hidden]="loadingRecords || data.length > 0">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <span class="text-secondary headline-1">NO HAY SERVICIOS DISPONIBLES</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <mat-paginator [length]="resultsLength" (page)="pageChange($event)" [pageSizeOptions]="pageSizeOptions"
                [pageSize]="pageSize" class="sticky left-0">
            </mat-paginator>
        </div>
        </div>
    </section>
</div>