<section>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sit repellat dolor aliquid! In impedit aperiam itaque nihil, quos veritatis quidem quas natus praesentium facere, commodi incidunt asperiores possimus explicabo.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nisi, ratione quae delectus odio ipsam nobis quas maxime harum architecto accusamus distinctio! Cumque hic voluptate nemo omnis illo fuga ducimus.
    </div>
</section>