.cont-btns{
    display: flex;
    justify-content: flex-end;
    padding-top: 30PX;
}

.btn-bg-azul{
    margin: 5px;
}

.card-title-row h3{
    font-size: 22px;
}

.btn-verde{
    padding: 5px 10px;
}