<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Agregar Imagen</div>
        <button (click)="close()" mat-icon-button [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form style="    align-items: center;" class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="solicitud">
        
        <span *ngIf="persona == false">
            <div *ngFor="let item of dataEmpresa" class="flex-0 w-50 h-50 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover"
                    src="{{item.imagen == null ? 'assets/images/avatars/usuario.jpg'  : item.imagen}}">
            </div>
        </span>
        
        <span *ngIf="persona == true">
            <div  *ngFor="let item of dataPersona"
                class="flex-0 w-50 h-50 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover"
                    src="{{item.imagen == null ? 'assets/images/avatars/usuario.jpg'  : item.imagen}}">
            </div>
        </span>
        <div class="cont-d-a" style="flex-grow: 1;">
               <div class="cont-table">
                   <form [formGroup]="uploadForm">

                       <br />
                       <input class="file-select" formControlName="document" type="file" ng2FileSelect
                           accept=".png, .jpg, .jpeg, .mp4, .avi" [uploader]="uploader" multiple />
                           <br />
                       <br />
                      <div *ngFor="let item of uploader.queue"
                          class="flex flex-col mt-4 border-t border-b divide-y font-medium">
               
                          <div class="flex items-center justify-between py-3">
                              <div class="text-secondary">Nombre Archivo</div>
                              <div>{{ item?.file?.name }}</div>
                          </div>
                          <div class="flex items-center justify-between py-3">
                              <div class="text-secondary">Estado</div>
                              <div>
                                  <span *ngIf="item.isSuccess">
                                      <mat-icon svgIcon="check_circle_outline"></mat-icon>
                                  </span>
                                  <span *ngIf="item.isCancel">
                                      <mat-icon svgIcon="cancel"></mat-icon>
                                  </span>
                                  <span *ngIf="item.isError">
                                      <mat-icon svgIcon="remove_circle_outline"></mat-icon>
                                  </span>
                              </div>
                          </div>
                          <div class="flex items-center justify-between py-3">
                              <div class="text-secondary">Tamaño</div>
                              <div>{{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB</div>
                          </div>

                      </div>
                        <!-- Actions -->
                        <div *ngFor="let item of uploader.queue" class="grid grid-cols-2 gap-4 w-full mt-8">
                            <button (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess" class="flex-auto"
                                mat-flat-button [color]="'primary'">
                                Guardar
                            </button>
                            <button class="flex-auto" (click)="item.remove()" mat-stroked-button>
                                Eliminar
                            </button>
                        </div>
                   </form>

               </div>
           </div>
        
    </form>
</div>